.container {
  width: 100%;
  height: 100%;
}

::ng-deep .p-panel {
  width: 100%;
  height: 100%;
}

::ng-deep .p-panel .p-panel-header {
  width: 100%;
}

::ng-deep .p-panel p-header {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}

::ng-deep .p-panel .p-panel-content .p-menubar {
  margin: 20px 0;
}

::ng-deep .p-panel .p-panel-content {
  height: 100%;
}
