<div class="container">
  <p-panel styleClass="p-fluid">
    <p-header>
      <span>Diseños</span>
    </p-header>
    <p-menubar [model]="items"></p-menubar>
    <p-table
      [value]="listDesign"
      #dt
      [paginator]="true"
      selectionMode="single"
      [(selection)]="selectedDesign"
      dataKey="id"
      [rows]="10"
      [responsive]="true"
      [globalFilterFields]="['id']"
    >
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="pi pi-seach" style="margin: 4px 4px 0 0"></i>
          <input
            type="text"
            pInputText
            size="50"
            placeholder="Buscar"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            style="width: auto"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>NRO</th>
          <th style="width: 5em">KVA</th>
          <th>Marca</th>
          <th>Tipo</th>
          <th style="width: 8rem">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-design>
        <tr [pSelectableRow]="design">
          <td>{{ design.id }}</td>
          <td>{{ design.kva }}</td>
          <td>{{ design.marca }}</td>
          <td>{{ design.tipoTransformador }}</td>
          <td>
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-arrow-right"
              class="p-button-outlined p-button-text"
              (click)="desplegarDatos(design)"
            ></button>
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-outlined p-button-danger p-button-text"
              (click)="EliminarDatos(design)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>

<p-sidebar
  [(visible)]="displayDataSidebar"
  [fullScreen]="true"
  [baseZIndex]="10000"
  [style]="{ 'overflow-y': 'scroll' }"
>
  <h3>DATOS PARA DISEÑO</h3>
  <form [formGroup]="formDesign">
    <div *ngIf="title === 'Nuevo'">
      <p-fieldset legend="Diseño" [toggleable]="true" >
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col">
          <label for="id">NRO DISEÑO</label>
          <input id="id" formControlName="id" type="text" pInputText />
        </div>
        </div>
      </p-fieldset>
    </div>
    <p-fieldset legend="Datos Básicos" [toggleable]="true">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label for="kva">POTENCIA EN KVA</label>
          <input id="kva" formControlName="kva" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="marca">MARCA</label>
          <input id="marca" formControlName="marca" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="fecha">AÑO DE FABRICACION</label>
          <input id="fecha" type="text" formControlName="fecha" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="fases">FASES</label>
          <input id="fases" type="text" formControlName="fase" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="voltajeNominalPrimario">VOLTAJE NOMINAL PRIMARIO</label>
          <input
            id="voltajeNominalPrimario"
            formControlName="voltajeNominalPrimario"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="voltajeNominalSecundario"
            >VOLTAJE NOMINAL SECUNDARIO</label
          >
          <input
            id="voltajeNominalSecundario"
            formControlName="voltajeNominalSecundario"
            type="text"
            pInputText
          />
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Datos Núcleo" [toggleable]="true">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label for="tipoDeNucleo">TIPO NUCLE</label>
          <input
            id="tipoDeNucleo"
            formControlName="tipoDeNucleo"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="formaDelNucleo">FORMA DEL NUCLEO</label>
          <input
            id="formaDelNucleo"
            formControlName="formaDelNucleo"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="cantidadDeFe">CANTIDAD DE Fe EN UN ANILLO X 2</label>
          <input
            id="cantidadDeFe"
            formControlName="cantidadDeFe"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="anchoDeFe">ANCHO DE Fe</label>
          <input
            id="anchoDeFe"
            formControlName="anchoDeFe"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="anchoVentana">ANCHO VENTANA</label>
          <input
            id="anchoVentana"
            formControlName="anchoVentana"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="altoVentana">ALTO VENTANA</label>
          <input
            id="altoVentana"
            formControlName="altoVentana"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="tipoLaminaMagnetic">TIPO DE LAMINA MAGNETICA</label>
          <input
            id="tipoLaminaMagnetic"
            formControlName="tipoLaminaMagnetic"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="pesoTotal">PESO TOTAL DEL NUCLEO</label>
          <input
            id="pesoTotal"
            formControlName="pesoTotal"
            type="text"
            pInputText
          />
        </div>
        <div *ngIf="fase.value !== 1" class="p-grid p-col">
          <div class="p-field p-col-12 p-md-6">
            <label for="pesoNucleo1">PESO NUCLEO 1</label>
            <input
              id="pesoNucleo1"
              formControlName="pesoNucleo1"
              type="text"
              pInputText
            />
          </div>
          <div class="p-field p-col-12 p-md-6">
            <label for="pesoNucleo2">PESO NUCLEO 2</label>
            <input
              id="pesoNucleo2"
              formControlName="pesoNucleo2"
              type="text"
              pInputText
            />
          </div>
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Conexiones" [toggleable]="true">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label for="conductorSecundario">CONDUCTOR SECUNDARIO</label>
          <input
            id="conductorSecundario"
            formControlName="conductorSecundario"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="grupoConnection">GRUPO CONEXIÓN</label>
          <input
            id="grupoConnection"
            formControlName="grupoConnection"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="positionNominalConmutador"
            >POSICIÓN NOMINAL DEL CONMUTADOR</label
          >
          <input
            id="positionNominalConmutador"
            formControlName="positionNominalConmutador"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="connectionBajaTension">CONEXÍON BAJA TENSION</label>
          <input
            id="connectionBajaTension"
            formControlName="connectionBajaTension"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="connectionAltaTension">CONEXÍON ALTA TENSION</label>
          <input
            id="connectionAltaTension"
            formControlName="connectionAltaTension"
            type="text"
            pInputText
          />
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Calculos" [toggleable]="true">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label for="poW">Po(W) (NORMA NTC 818 819)</label>
          <input id="poW" formControlName="poW" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="induction">INDUCCIÓN</label>
          <input
            id="induction"
            formControlName="induction"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="inductionTDesign">INDUCCIÓN (T) DISEÑO</label>
          <input
            id="inductionTDesign"
            formControlName="inductionTDesign"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="lmn1">LMN1(cm)</label>
          <input id="lmn1" formControlName="lmn1" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="lmn2">LMN2(cm)</label>
          <input id="lmn2" formControlName="lmn2" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="anet">ANET(cm²)</label>
          <input id="anet" formControlName="anet" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="wkgCalculado">(W/KG) calculado</label>
          <input
            id="wkgCalculado"
            formControlName="wkgCalculado"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="wkgTablaLamina">(W/KG) segun tabla lamina</label>
          <input
            id="wkgTablaLamina"
            formControlName="wkgTablaLamina"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="inductionTablaLamina"
            >INDUCCIÓN (T) SEGÚN TABLA LAMINA</label
          >
          <input
            id="inductionTablaLamina"
            formControlName="inductionTablaLamina"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="inductionIngresoManual"
            >INDUCCIÓN (T) INGRESO MANUAL</label
          >
          <input
            id="inductionIngresoManual"
            formControlName="inductionIngresoManual"
            type="text"
            pInputText
          />
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Otros Valores" [toggleable]="true">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label for="tipoTransformador">TIPO DE TRANSFORMADOR</label>
          <input
            id="tipoTransformador"
            formControlName="tipoTransformador"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="tipoAceite">TIPO DE ACEITE</label>
          <input
            id="tipoAceite"
            formControlName="tipoAceite"
            type="text"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="cantidadAceite">CANTIDAD DE ACEITE</label>
          <input
            id="cantidadAceite"
            formControlName="cantidadAceite"
            type="text"
            pInputText
          />
        </div>
      </div>
    </p-fieldset>
  </form>
  <ng-template pTemplate="footer">
    <div class="p-fluid p-formgrid p-grid p-jc-end" id="botones">
      <p-button
        label="Guardar"
        icon="pi pi-check"
        (onClick)="onGuardar()"
      ></p-button>
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        styleClass="p-button-secondary"
        (onClick)="displayDataSidebar = false"
      ></p-button>
    </div>
  </ng-template>
</p-sidebar>
