<div class="container">
  <p-panel styleClass="p-fluid">
    <p-header>
      <span>Diseños</span>
    </p-header>
    <p-menubar [model]="items"></p-menubar>
    <p-table
      [value]="listDesign"
      #dt
      [paginator]="true"
      selectionMode="single"
      [(selection)]="selectedDesign"
      dataKey="id"
      [rows]="10"
      [responsive]="true"
      [globalFilterFields]="['id']"
    >
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="pi pi-seach" style="margin: 4px 4px 0 0"></i>
          <input
            type="text"
            pInputText
            size="50"
            placeholder="Buscar"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            style="width: auto"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>NRO</th>
          <th style="width: 5em">KVA</th>
          <th>Marca</th>
          <th>Tipo</th>
          <th style="width: 8rem">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-design>
        <tr [pSelectableRow]="design">
          <td>{{ design.id }}</td>
          <td>{{ design.kva }}</td>
          <td>{{ design.marca }}</td>
          <td>{{ design.tipoTransformador }}</td>
          <td>
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-arrow-right"
              class="p-button-outlined p-button-text"
              (click)="displayDataSidebar = true"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>

<p-sidebar
  [(visible)]="displayDataSidebar"
  [fullScreen]="true"
  [baseZIndex]="10000"
>
  <h3>DATOS PARA DISEÑO</h3>
  <form [formGroup]="formDesign">
    <p-fieldset legend="Datos Basicos">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label for="kva">POTENCIA EN KVA</label>
          <input id="kva" formControlName="kva" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="marca">MARCA</label>
          <input id="marca" formControlName="marca" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="fecha">AÑO DE FABRICACION</label>
          <input id="fecha" type="text" formControlName="fecha" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="fases">FASES</label>
          <input id="fases" type="text" formControlName="fase" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="voltajeNominalPrimario">VOLTAJE NOMINAL PRIMARIO</label>
          <input id="voltajeNominalPrimario" formControlName="voltajeNominalPrimario" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="voltajeNominalSecundario"
            >VOLTAJE NOMINAL SECUNDARIO</label
          >
          <input id="voltajeNominalSecundario" formControlName="voltajeNominalSecundario" type="text" pInputText />
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Datos Núcleo">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label for="tipoDeNucleo">TIPO NUCLE</label>
          <input id="tipoDeNucleo" formControlName="tipoDeNucleo" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="formaDelNucleo">FORMA DEL NUCLEO</label>
          <input id="formaDelNucleo" formControlName="formaDelNucleo" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="cantidadDeFe">CANTIDAD DE Fe EN UN ANILLO X 2</label>
          <input id="cantidadDeFe" formControlName="cantidadDeFe" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="kva">ANCHO DE Fe</label>
          <input id="kva" formControlName="kva" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="kva">ANCHO VENTANA</label>
          <input id="kva" formControlName="kva" type="text" pInputText />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="kva">ALTO VENTANA</label>
          <input id="kva" formControlName="kva" type="text" pInputText />
        </div>
      </div>
    </p-fieldset>
  </form>
</p-sidebar>
