<div class="wrapper">
  <div class="content">
    <div class="text">Login</div>
    <form [formGroup]="loginForm"
      #f="ngForm"
      novalidate
      (ngSubmit)="onSubmit()">
      <div class="field">
        <input type="text" formControlName="username" required />
        <span class="pi pi-user"></span>
        <label>Usuario</label>
      </div>
      <div class="field">
        <input type="password" formControlName="password" required />
        <span class="pi pi-lock"></span>
        <label>Contraseña</label>
      </div>
      <div class="forgot-pass">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
      <button [disabled]="!loginForm.valid">Iniciar Sesion</button>
      <div class="sign-up">
        ¿No estas registrado?
        <a href="#">Registrate!</a>
      </div>
    </form>
  </div>
</div>
