@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body{
    width: 100%;
    height: 100vh;
    background: url(assets/img/bg.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
